<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Get to Know Your Excellent Medical Experts</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">About</a></li>
                            <li class="active text-theme-colored">About Us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">



            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">



                            <div class="tab-content bg-white">




                                <div class="row">



                                    <div class="col-md-12">
                                        <div class="service-content ml-10 ml-sm-0">
                                            <h2 class="">About Us</h2>
                                            <p>St. Frances Cabrini Medical Center (SFCMC) is a private level 2 hospital
                                                owned and managed by the Torres Group, the Philippines’ joint venture
                                                partners of the Yazaki-Torres Manufacturing, Inc. headed by the Chairman
                                                of the Board, Mr. Feliciano L. Torres. We are licensed by the Department
                                                of Health as a medical center, accredited by the Philippine Health
                                                Insurance Corporation and a member of the Philippine Hospital
                                                Association.</p>

                                            <p>As a general hospital, we admit patients with medical, surgical,
                                                obstetrical and/or gynecological conditions, as well as pediatric
                                                patients and those whose case pertains to specialty services like
                                                eye-ear-nose-throat, orthopedics, etc. Though we cater acutely and
                                                critically ill patients, we are not a nursing home or sanitarium for the
                                                chronically ill or those with long-standing illnesses.</p>

                                            <p>Diagnostic services are our specialties but alongside it, we offer
                                                therapeutic or curative depending on our patients’ health conditions. We
                                                also provide them with a health-promotive, disease-preventive and
                                                rehabilitative health teaching to guide them in making healthier
                                                lifestyle decisions.</p>

                                            <p>We use the latest in medical technology especially in our cancer
                                                treatments, making us the first cancer institute in the Philippines
                                                offering Volumetric Modulated Arc Therapy (VMAT). This is to continue
                                                delivering excellent hospital care to our patients. Alongside it, we
                                                create a circle of caring that unites the medical community with
                                                integrated complementary medicine and a strong support system that
                                                ensures holistic healing and caring for our patients.</p>

                                            <p>
                                                In pursuance to our goal of providing high-quality medical care, we are
                                                proud to inform you that we are now an accredited Contracted Health Care
                                                Institution for the <a href="services.php?page_id=24"><span
                                                        style="font-weight:bold;">Kidney Transplantation and Breast
                                                        Cancer Z-Benefit Packages.</span></a>
                                            </p>

                                            <div class="separator separator-rouned">
                                                <i class="fa fa-cog"></i>
                                            </div>

                                            <h2 class="">MISSION AND VISION</h2>

                                            <div class="row mt-20 mb-sm-30">
                                                <div class="col-sm-6">
                                                    <div class="service-icon-box">
                                                        <div>
                                                            <h4 class="mt-0 mb-0">MISSION</h4>
                                                            <p class="">To passionately strive to anticipate healthcare
                                                                and wellness needs and deliver high quality healthcare
                                                                service to improve people’s lives.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="service-icon-box">
                                                        <div>
                                                            <h4 class="mt-0 mb-0">VISION</h4>
                                                            <p class="">In 2020, St. Cabrini will be the region’s
                                                                premier choice of patients, physicians, companies and
                                                                employees for their healthcare and wellness needs.</p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="separator separator-rouned">
                                                    <i class="fa fa-cog"></i>
                                                </div>




                                            </div>

                                            <div class="row mt-20 mb-sm-30">
                                                <div class="col-sm-12">

                                                    <h2 class="">PHILOSOPHY</h2>

                                                    <div>


                                                        <ul>
                                                            <h4 class="mt-0 mb-0"> St. Frances Cabrini Medical Center
                                                                believes that our main reason for being is to
                                                                serve our patients, as they are the purpose of our work.
                                                            </h4>
                                                            <p>St. Frances Cabrini Medical Center believes that our main
                                                                reason for being is to
                                                                serve our patients, as they are the purpose of our work.
                                                            </p>

                                                            <p> We understand that they are human beings composed of
                                                                body and soul and thus have physical, psycho-emotional
                                                                and
                                                                spiritual needs. This is anchored to the idea that
                                                                they are also social beings and are affected by their
                                                                relationships.</p>

                                                            Hence, to be genuinely effective in our endeavor, our
                                                            patient care should be holistic and comprehensive, i.e., all
                                                            inclusive of the above-stated needs. To fulfill our
                                                            potential to be the best that we can be, we should foster a
                                                            strong commitment to the highest standards of quality and a
                                                            service culture enriched by learning, teaching, and
                                                            research.
                                                            </p>
                                                        </ul>

                                                        <br><br>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
<!-- end main-content -->