<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Get to Know Your Excellent Medical Experts</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">About</a></li>
                            <li class="active text-theme-colored">Accreditation and Awards</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container pt-60 pb-60">



            <div class="section-centent">
                <div class="row">
                    <div class="col-md-6 text-center">


                        <div class="tab-content bg-white">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="products">
                                        <div class="row">

                                            <div class="col-sm-12 col-md-12 col-lg-12 mb-30">
                                                <div class="product">
                                                    <div class="product-thumb"> <img alt="NABH Accreditation"
                                                            src="images/accreditations/nabh.jpg"
                                                            class="img-responsive img-fullwidth">
                                                        <div class="overlay"></div>
                                                    </div>
                                                    <div class="product-details col-md-12">
                                                        <br>
                                                        <p>National Accreditation Board for Hospitals & Healthcare
                                                            Providers (NABH) is a constituent board of Quality Council
                                                            of India, set up to establish and operate accreditation
                                                            program for healthcare organizations. The board is
                                                            structured to cater to the much-desired needs of the
                                                            consumers and to set benchmarks for progress of the health
                                                            industry.</p>
                                                    </div>
                                                </div>
                                            </div>




                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
<!-- end main-content -->