<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Building Lasting Affiliates to Deliver a Better Patient Experience</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">About</a></li>
                            <li class="active text-theme-colored">Affiliates</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">



            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">



                            <div class="tab-content bg-white">




                                <div class="row">



                                    <div class="col-md-12">
                                        <div class="service-content ml-10 ml-sm-0">




                                            <div class="col-md-4">
                                                <div class="thumb">
                                                    <img src="images/affiliates/yazaki-logo.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <br><br>
                                                <h3>Yazaki-Torres Manufacturing Inc.</h3>
                                                <p>The Yazaki-Torres Manufacturing Incorporated (YTMI) is a leading
                                                    manufacturer of the automotive wiring harness in the Philippines.
                                                    Established in September 1973 as a joint venture with SFCMC Chair
                                                    and CEO Feliciano L. Torres, YTMI makes wiring harnesses, automobile
                                                    instruments, battery cables, and other automotive parts. This
                                                    company is one of the Philippines’ major exporters, thereby
                                                    promoting employment in the country.
                                                </p>


                                            </div>

                                            <div class="separator separator-rouned">
                                                <i class="fa fa-cog"></i>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="thumb">
                                                    <img src="images/affiliates/lsc.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <br><br>
                                                <h3>Lyceum-St. Cabrini School of Health Sciences Inc. (LSC)</h3>
                                                <p>Established in the year 2002 by the Commission on Higher Education,
                                                    the college ventures on the strengths of the educational tradition
                                                    of Lyceum of the Philippines - Laguna and health care capabilities
                                                    of St. Frances Cabrini Medical Center. This is inlined with the
                                                    hospital’s commitment to provide leading-edge healthcare to patients
                                                    and serve as an educational resource to the surrounding communities
                                                    and the country as a whole.

                                                </p>

                                                <a href="http://lpulaguna.edu.ph/academics/college-of-allied-medicine-cam/"
                                                    class="btn
                            btn-default" target="_blank">Read more</a>


                                            </div>

                                            <div class="separator separator-rouned">
                                                <i class="fa fa-cog"></i>
                                            </div>








                                            <div class="col-md-4">
                                                <div class="thumb">
                                                    <img src="images/affiliates/asianeye1.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <br><br>
                                                <h3 class="name font-24 mt-0 mb-0">Eyesite | The Asian Eye Institute
                                                </h3>
                                                <p>EyeSite is a renowned and lasting institution, recognized as a center
                                                    of excellence in the delivery of high quality and innovative eye
                                                    care services in Asia and the Pacific Rim. It is also a vital
                                                    national and international resource in the diagnosis and treatment
                                                    of eye diseases and visual impairment. It continues to gain
                                                    achievements through a highly committed, motivated, and competent
                                                    team of doctors and staff.
                                                </p>
                                                <a href="https://asianeyeinstitute.com/eyesite/" class="btn btn-default"
                                                    target="_blank">Read more</a>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="separator separator-rouned">
                                                <i class="fa fa-cog"></i>
                                            </div>



                                            <div class="col-md-4">
                                                <div class="thumb">
                                                    <img src="images/affiliates/smiletrain.jpg" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <br><br>
                                                <h3 class="name font-24 mt-0 mb-0">SmileTrain</h3>
                                                <p>Smile Train is focused on solving a single problem: cleft lip and
                                                    palate. Clefts are a major problem in developing countries where
                                                    there are millions of children suffering from unrepaired clefts. The
                                                    mission of Smile Train is to provide free cleft surgery for millions
                                                    of poor children in developing countries and free cleft-related
                                                    training for doctors and medical professionals until the problem of
                                                    clefts is completely eradicated.</p>
                                                <a href="https://www.smiletrain.org/" class="btn btn-default"
                                                    target="_blank">Read more</a>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="separator separator-rouned">
                                                <i class="fa fa-cog"></i>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="thumb">
                                                    <img src="images/affiliates/pocc.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <br><br>
                                                <h3 class="name font-24 mt-0 mb-0">Philippine Oncology Center
                                                    Corporation</h3>
                                                <p>Philippine Oncology Center Corporation is the Center of Choice for
                                                    Cancer Treatment. POCC boasts as the very first integrated radiation
                                                    therapy center using cutting-edge technology with a series of firsts
                                                    having been established, namely:
                                                </p>
                                                <ul class="list">
                                                    <li>1st dedicated CT-Simulator in the Philippines</li>
                                                    <li>1st digital Linear Accelerator in the country</li>
                                                    <li>1st true 3D Plato Planning System with Virtual Simulation System
                                                        capable of Intensity-Modulated Radiation Therapy (IMRT)</li>
                                                    <li>1st Beam's Eye View Images and Electronic Portal Imaging System
                                                        that allow direct visualization of the target during treatment
                                                    </li>
                                                </ul>

                                                <p>POCC is, indeed, a world-class cancer center as the very first of its
                                                    kind when it comes to modern cancer treatment. It has a
                                                    patient-friendly environment which utilizes a team approach in
                                                    cancer management (surgery, medical oncology, and radiation
                                                    oncology) with its board-certified oncologists.</p>
                                                <a href="https://www.philippineoncologycenter.com/"
                                                    class="btn btn-default" target="_blank">Read more</a>

                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="separator separator-rouned">
                                                <i class="fa fa-cog"></i>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="thumb">
                                                    <img src="images/affiliates/wir-helfen.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <br><br>
                                                <h3></h3>HELP! Wir Helfen</a></h3>
                                                <p>HELP! Wir Helfen aims to provide medical assistance to indigent
                                                    patients, especially children. They are based in the city of
                                                    Schwäbisch Hall, Germany, financing medical treatments and equipment
                                                    for people with physical deformities such as cleft lip and palate.


                                                </p>

                                                <a href="https://www.help-wirhelfen.de/ " class="btn
                            btn-default" target="_blank">Read more</a>


                                            </div>

                                            <div class="separator separator-rouned">
                                                <i class="fa fa-cog"></i>
                                            </div>


                                            <div class="col-md-4">
                                                <div class="thumb">
                                                    <img src="" alt="Dental Specialty Group">
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <br><br>
                                                <h3 class="name font-24 mt-0 mb-0">Dental Specialty Group
                                                </h3>
                                                <p>Dental Specialty Group is accredited by PRC Board of Dentistry to
                                                    provide CPD dental postgraduate courses. It is run by
                                                    highly-credentialed dentists working to provide comprehensive dental
                                                    services and to promote international collaboration for indigent
                                                    patients.
                                                </p>

                                            </div>

                                            <div class="clearfix"></div>










                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
<!-- end main-content -->