<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Get to Know Your Excellent Medical Experts</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="/" class="text-white">Home</a></li>
                            <li><a href="/about-us" class="text-white">About</a></li>
                            <li class="active text-theme-colored">Accreditation and Awards</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">



            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">



                            <div class="tab-content bg-white">




                                <div class="row">



                                    <div class="col-md-12">
                                        <div class="products">
                                            <div class="row multi-row-clearfix">



                                                <div class="col-sm-6 col-md-6 col-lg-6 mb-30">
                                                    <div class="product">
                                                        <div class="product-thumb"> <img alt=""
                                                                src="images/awards/award2.png"
                                                                class="img-responsive img-fullwidth">
                                                            <div class="overlay"></div>
                                                        </div>
                                                        <div class="product-details col-md-12">
                                                            <br>
                                                            <h4 class="entry-title mt-0 pt-0">One of the 10 Best Level 2
                                                                Hospital in the Philippines</h4>
                                                            </a>
                                                            <ul class="list-inline font-12 mb-20 mt-10">
                                                                <li>posted by <a href="#" class="text-black">Admin |</a>
                                                                </li>
                                                                <li><span class="text-black">SEP 12,15</span></li>
                                                            </ul>

                                                            <p>Chosen by the Department of Health (DOH) as one of the
                                                                Best Level 2 Hospitals in the Philippines that complies
                                                                with the following:
                                                            </p>

                                                            <ul>
                                                                <li> <i class="fa fa-check-square"></i> Safety of
                                                                    Patients and Employees and Infection Control</li>
                                                                <li><i class="fa fa-check-square"></i> Service Provision
                                                                </li>
                                                                <li><i class="fa fa-check-square"></i> Customer and
                                                                    Employees Satisfaction </li>
                                                                <li><i class="fa fa-check-square"></i> Community Based
                                                                    Projects and Activities</li>
                                                                <li><i class="fa fa-check-square"></i> Quality
                                                                    Improvement</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6 col-md-6 col-lg-6 mb-30">
                                                    <div class="product">
                                                        <div class="product-thumb"> <img alt=""
                                                                src="images/awards/silver-award.jpg"
                                                                class="img-responsive img-fullwidth">
                                                            <div class="overlay"></div>
                                                        </div>
                                                        <div class="product-details col-md-12">
                                                            <br>
                                                            <h4 class="entry-title mt-0 pt-0">Silver Award for Most
                                                                Outstanding Quality Improvement Studies</h4>
                                                            <p>Philippine Society for Quality in Healthcare presented
                                                                the award to St. Frances Cabrini Medical Center for the
                                                                category entitled “Inpatient excess medications
                                                                accumulated at the Pharmacy Department.”
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
<!-- end main-content -->