<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Discover Where It All Started</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">About</a></li>
                            <li class="active text-theme-colored">History</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">



            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">



                            <div class="tab-content bg-white">




                                <div class="row">



                                    <div class="col-md-12">
                                        <div class="service-content ml-10 ml-sm-0">
                                            <h2 class="">Our History</h2>
                                            <p>During the late 1990’s, Southern Tagalog had the most number of Overseas
                                                Filipino Workers (OFW) and with the then emerging industrialization in
                                                Batangas, Mr. Feliciano L. Torres, the owner and Chairman of the Board
                                                realized the need for a hospital to take care of the workers both
                                                overseas and those from the industrial companies in the region.</p>

                                            <p>St. Frances Cabrini Medical Center was established in July 15, 1998, same
                                                day as the birthday of Dr. Nora A. Torres, the Senior Board of Director
                                                and spouse of the owner, Mr. Torres. The hospital was initially
                                                conceived to cater to the health care needs of the 7,500 employees of
                                                its affiliate company Yazaki-Torres Manufacturing Incorporated and of
                                                the other industrial clientele in the vicinity. The need for a modern
                                                hospital and the pace of development of the CALABARZON region created a
                                                bigger demand and quickly expanded the client base for the medical
                                                center.</p>

                                            <p>The hospital is located at the heart of the historical and scenic
                                                province of Batangas, conveniently along Maharlika Highway, the national
                                                road that connects a portion of Calamba and Batangas to the South
                                                Superhighway. It is one of the 35+ tertiary hospitals servicing the
                                                CALABARZON special region.</p>

                                            <p>Initially, the 100-bed capacity was not always utilized to its fullest as
                                                it was newly-established. Over the years, the census has consistently
                                                increased and from the 89-105 employees, it is now close to 450. There
                                                were approximately 80 doctors in the first year and presently, it has
                                                338 accredited doctors.</p>


                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
<!-- end main-content -->