<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Find Out More About Our Journey</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">About</a></li>
                            <li class="active text-theme-colored">Milestone</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="depertments" class="bg-silver-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="horizontal-tab-centered">

                        <h2 class="">Milestone</h2>
                        <p class="lead">Every day we strive to do the unexpected in making our patients feel better.
                            Take a look at our achievements and successes in previous years and be amazed by our
                            continuous pursuit of medical excellence.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="cd-timeline" class="cd-container mt-100 mb-100">


        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="js/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">
                            <img alt="" src="images/milestone/old-cabrini-bdg.jpg" class="img-fullwidth img-responsive">
                        </div>
                        <h1>1998</h1>
                    </div>
                    <div class="entry-content">
                        <p class="lead">Opened its door to the public</p>
                    </div>
                </article>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
                <img src="js/vertical-timeline/img/cd-icon-movie.svg" alt="Movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">
                            <img alt="" src="images/milestone/kidney-transplant.jpg"
                                class="img-fullwidth img-responsive">
                        </div>
                        <h1>2000</h1>

                    </div>
                    <div class="entry-content">
                        <ul>
                            <li><i class="fa fa-check-square"></i> The first hospital in Region IV accredited by the DOH
                                for
                                kidney transplantation.</li>
                            <li><i class="fa fa-check-square"></i> The first kidney transplant was done with 100%
                                success
                                rate.</li>
                        </ul>

                    </div>
                </article>

                <br>
                <hr>

                <article class="post clearfix">
                    <div class="entry-header">

                        <div class="post-thumb">
                            <img alt="" src="images/milestone/lyceum-st-cabrini.jpg"
                                class="img-fullwidth img-responsive">
                        </div>
                        <h1>2002</h1>

                    </div>
                    <div class="entry-content">
                        <p class="lead"> Joint-ventured with Lyceum Institute of Technology to establish the LYCEUM- ST.
                            CABRINI
                            COLLEGE OF ALLIED MEDICINE with more than 300 nursing graduates to date.</p>
                    </div>
                </article>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="js/vertical-timeline/img/cd-icon-location.svg" alt="Location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">
                            <img alt="" src="images/milestone/st-cabrini.jpg" class="img-fullwidth img-responsive">
                        </div>
                        <h1>2006</h1>
                    </div>
                    <div class="entry-content">
                        <ul>
                            <li><i class="fa fa-check-square"></i> Became the first major Cancer Institute in Region IV.
                            </li>
                            <li><i class="fa fa-check-square"></i> Offered the first image-guided Radiation therapy
                                (IGRT) in the country.</li>
                        </ul>
                    </div>
                </article>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="js/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">
                            <img alt="" src="images/milestone/smile-train.jpg" class="img-fullwidth img-responsive">
                        </div>
                        <h1>2008</h1>
                    </div>
                    <div class="entry-content">
                        <p class="lead">Smile Train Accredited Center for Cleft Surgery</p>
                    </div>
                </article>

                <br>
                <hr>

                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">
                            <img alt="" src="images/milestone/philhealth.jpg" class="img-fullwidth img-responsive">
                        </div>
                        <h1>2010</h1>
                    </div>
                    <div class="entry-content">
                        <p class="lead">One of the only four hospitals in Southern Tagalog certified as Center of
                            Excellence by PhilHealth</p>
                    </div>
                </article>

                <br>
                <hr>

                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">

                            <h1>2011</h1>
                        </div>
                        <div class="entry-content">
                            <p class="lead">St. Cabrini entered into a partnership with SEREI HAMAMATSU General Hospital
                                in
                                collaboration with Personal Ability Development Foundation Inc. under JAPAN - PHILIPPINE
                                ECONOMIC PARTNERSHIP AGREEMENT(JPEPA).</p>
                        </div>
                </article>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="js/vertical-timeline/img/cd-icon-location.svg" alt="Location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">
                            <img alt="" src="images/milestone/wir-helfen.png" class="img-fullwidth img-responsive">
                        </div>
                        <h1>2012</h1>
                    </div>
                    <div class="entry-content">
                        <p class="lead">Partnered with Help! Wir Helfen in establishing Hemodialysis Unit</p>
                    </div>
                </article>

                <br>
                <hr>

                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">
                            <img alt="" src="images/milestone/pocc.jpg" class="img-fullwidth img-responsive"> </div>
                        <h1>2014</h1>
                    </div>
                    <div class="entry-content">
                        <p class="lead">Partnered with Philippine Oncology Center Corporation(POCC) by providing the
                            most advanced technology in cancer treatment.</p>
                    </div>
                </article>

                <br>
                <hr>

                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">
                            <img alt="" src="images/milestone/nuclear-medicine.jpg"
                                class="img-fullwidth img-responsive">
                        </div>
                        <h1>2015</h1>
                    </div>
                    <div class="entry-content">
                        <ul>
                            <li><i class="fa fa-check-square"></i> Equipped itself with comprehensive Laboratory
                                Services both Clinical and Anatomic</li>
                            <li><i class="fa fa-check-square"></i> Established Nuclear Medicine for highly specialized
                                test such as Radioimmuno Assay (RIA) and Radioactive Iodine Therapy (RAI)</li>
                        </ul>

                    </div>
                </article>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="js/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">

                            <h1>2016</h1>
                        </div>
                        <div class="entry-content">
                            <ul>
                                <li><i class="fa fa-check-square"></i> The First Hospital in the Philippines and in
                                    Southeast Asia Accredited by National Accreditation Board for Hospitals and
                                    Healthcare
                                    Providers(nabh), a member of the Accreditation Council of International Society for
                                    Quality in Healthcare (ISQua). </li>
                                <li><i class="fa fa-check-square"></i> Accredited as Level III by the Philippine Health
                                    Research Ethics Board (PHREB) in partnership with Asian Eye Institute. </li>
                                <li><i class="fa fa-check-square"></i> Accredited by the Philippine Health Insurance
                                    Corporation (PHIC) as Z-Benefit Package Contracted Healthcare Institution. </li>
                                <li><i class="fa fa-check-square"></i> Breast Cancer </li>
                                <li><i class="fa fa-check-square"></i> Cervical Cancer </li>
                                <li><i class="fa fa-check-square"></i> Colo-rectal Cancer </li>
                                <li><i class="fa fa-check-square"></i> Kidney Transplantation </li>
                                <li><i class="fa fa-check-square"></i> Ventured with Eyesite by Asian Eye Institute. A
                                    one-stop-shop eye care center and optical shop. </li>
                            </ul>
                        </div>
                </article>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="js/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">

                            <h1>2017</h1>
                        </div>
                        <div class="entry-content">
                            <ul>
                                <li><i class="fa fa-check-square"></i> Opened the SFCMC Oasis Satellite Clinic located
                                    at
                                    FPIP Oasis Commercial Center </li>
                                <li><i class="fa fa-check-square"></i> First to establish Women’s Wellness Center in
                                    Batangas and Executive Wellness Center</li>
                                <li><i class="fa fa-check-square"></i> CPD - Dentistry Accreditation for Hospital-based
                                    Dental Medicine </li>
                            </ul>
                        </div>
                </article>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
                <img src="js/vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <article class="post clearfix">
                    <div class="entry-header">
                        <div class="post-thumb">

                            <h1>2018</h1>
                        </div>
                        <div class="entry-content">
                            <ul>
                                <li><i class="fa fa-check-square"></i> The first hospital to institute new standards for
                                    radiation therapy treatment speed and dose reduction to the patient using Volumetric
                                    Modulated Arc Therapy (VMAT) in the Philippines. </li>
                                <li><i class="fa fa-check-square"></i> Silver Award Recipient for “Kanban: Process of
                                    Decreasing Excess Medication” by the Philippine Society in Quality Healthcare
                                    (PSQUA)
                                    2018 Midyear Convention and Annual Search for the Most Outstanding Improvement
                                    Studies.
                                </li>
                                <li><i class="fa fa-check-square"></i> Dialysis Center expansion took placed</li>
                            </ul>
                        </div>
                </article>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->




    </section>
</div>
<!-- end main-content -->