<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
    <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-white">People</h1>
                    <ol class="breadcrumb text-center mt-10">
                        <li><a href="index.php" class="text-white">Home</a></li>
                        <li><a href="about-us.php" class="text-white">About</a></li>

                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row multi-row-clearfix">
            <div class="blog-posts">




                <div class="col-md-6">
                    <article class="post clearfix mb-30 bg-lighter">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="images/people/d20.jpg" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content border-1px p-20 pr-10">
                            <div class="entry-meta media mt-0 no-bg no-border">
                                <div
                                    class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                    <ul>
                                        <li class="font-20 text-white font-weight-600">29</li>
                                        <li class="font-12 text-white text-uppercase">to</li>
                                        <li class="font-20 text-white font-weight-600">30</li>
                                        <li class="font-12 text-white text-uppercase">May</li>
                                    </ul>
                                </div>
                                <div class="media-body pl-15">
                                    <div class="event-content pull-left flip">
                                        <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a
                                                href="team-building-2019.php">Team Building and Company Outing 2019
                                            </a></h4>
                                    </div>
                                    <p class="mt-10">May 2019 - St. Cabrini showcased its employees' camaraderie in the
                                        recently held Team Building and Company Outing at Jardin De Antonio, Tanauan
                                        City.</p>
                                    <a href="team-building-2019.php" class="btn-read-more">Read more</a>
                                </div>
                            </div>


                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>


                <div class="col-md-6">
                    <article class="post clearfix mb-30 bg-lighter">
                        <div class="entry-header">
                            <div class="post-thumb thumb">
                                <img src="images/people/f0.jpg" alt="" class="img-responsive img-fullwidth">
                            </div>
                        </div>
                        <div class="entry-content border-1px p-20 pr-10">
                            <div class="entry-meta media mt-0 no-bg no-border">
                                <div
                                    class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                                    <ul>
                                        <li class="font-20 text-white font-weight-600">5</li>
                                        <li class="font-12 text-white text-uppercase">July</li>
                                    </ul>
                                </div>
                                <div class="media-body pl-15">
                                    <div class="event-content pull-left flip">
                                        <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a
                                                href="cnu-fun-run-kicks-off-nutrition-month-celebration.php">CNU Fun Run
                                                kicks-off Nutrition Month celebration
                                            </a></h4>
                                    </div>

                                </div>
                            </div>
                            <p class="mt-10">St. Cabrini's Clinical Nutrition Unit (CNU) hosted a Kick-Off Fun Run
                                themed "Kumain ng Wasto at Maging Aktibo... Push Natin 'to" last July 5, 2019 at Avida,
                                Sto. Tomas, Batangas.</p>
                            <a href="cnu-fun-run-kicks-off-nutrition-month-celebration.php" class="btn-read-more">Read
                                more</a>


                            <div class="clearfix"></div>
                        </div>
                    </article>
                </div>













                <!--
            <div class="col-md-12">
              <nav>
                <ul class="pagination theme-colored">
                  <li> <a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a> </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">...</a></li>
                  <li> <a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a> </li>
                </ul>
              </nav>
            </div>
-->
            </div>
        </div>
    </div>
</section>



</div>
<!-- end main-content -->









</div>
<!-- end main-content -->