<div class="header-nav">
    <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
        <div class="container">
            <nav id="menuzord" class="menuzord green">
                <ul class="menuzord-menu green">
                    <li class="active"><a href="/">Home</a></li>


                    <li><a href='#'>Patient & Visitors</a>
                        <ul class='dropdown'>
                            <li><a href="/patient-rights-and-responsibilities">Patient Rights &
                                    Responsibilities</a></li>
                            <li><a href="/hmo-accreditation">HMO Accreditation</a></li>
                            <li><a href="/admission-guidelines">Admission Guidelines</a></li>
                            <li><a href="/medical-records">Medical Records</a></li>
                        </ul>
                    </li>


                    <li><a href="/services">Services</a></li>


                    <li><a href='#'>Patient Experience</a>
                        <ul class='dropdown'>
                            <li><a href="/avp">Our AVP</a></li>
                            <li><a href="/patient-testimonials">Patients & Visitors Testimonials</a>
                            </li>
                        </ul>
                    </li>


                    <li><a href='#'>News & Features</a>
                        <ul class='dropdown'>

                            <li><a href="/news">News Releases and Events
                                </a></li>
                            <li><a href="/health-access">SFCMC Health Access</a></li>
                            <li><a href="/publications">Publications</a></li>
                        </ul>
                    </li>



                    <li><a href='#'>About</a>
                        <ul class='dropdown'>
                            <li><a href="/about-us">About Us</a></li>
                            <li><a href="/history">History</a></li>
                            <li><a href="/affiliates">Affiliates</a></li>
                            <li><a href="/accreditations">Accreditations</a></li>
                            <li><a href="/awards">Awards</a></li>
                            <li><a href="/milestone">Milestone</a></li>
                            <li><a href="/people">People</a></li>
                        </ul>
                    </li>

                    <li><a href="/career">Careers</a></li>
                    <li><a href="/contact">Contact</a></li>



                </ul>
                <div class="pull-right sm-pull-none mb-sm-15">
                    <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10"
                        href="/find-a-doctor">FIND A DOCTOR</a>
                </div>
            </nav>
        </div>
    </div>
</div>
</header>