</div>

<!-- Footer -->
<footer id="footer" class="footer bg-black-111">
    <div class="container pt-70 pb-40">
        <div class="row border-bottom-black">

            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <h4 class="widget-title mb-10">Contact Us</h4>

                    <ul class="list-inline mt-5 ">
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-map-marker text-theme-colored1 mr-5"></i> <a
                                class="text-white"
                                href="https://www.google.com/maps/place/St.Cabrini+Medical+Center/@14.1091822,121.1456229,19.75z/data=!4m5!3m4!1s0x33bd6594fc3abf6b:0x66bac53567d7db2b!8m2!3d14.109053!4d121.1457749?hl=en-US">Maharlika
                                Highway, Sto. Tomas, Batangas City, 4234</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored1 mr-5"></i> <a
                                class="text-white" href="#"> (043) 778-4811 to 18</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-colored1 mr-5"></i> <a
                                class="text-white" href="/contact">info@cabrinimed.com.ph</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-colored1 mr-5"></i> <a
                                class="text-white" href="/">www.cabrinimed.com</a> </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-4 ">
                <div class="widget dark">
                    <h4 class="widget-title mb-10">Follow Us</h4>
                    <ul class="styled-icons icon-dark icon-circled icon-sm">
                        <li><a href="https://www.facebook.com/stcabrinimedicalcenter"><i class="fa fa-facebook fa-2x
"></i></a></li>
                        <li><a href="https://twitter.com/st_cabrini"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC8MnKCwWIGl8eohNrhPIImQ"><i class="fa
                              fa-youtube fa-2x"></i></a></li>
                        <li><a href="https://www.instagram.com/st.cabrinicancerinstitute"><i class="fa
                              fa-instagram fa-2x"></i></a></li>
                    </ul>

                    <br>


                    <h4 class="widget-title">Newsletter</h4>
                    <!-- Subscription Form-->
                    <form method="post">
                        <div class="input-group">
                            <input type="email" id="email" data-height="45px" class="form-control input-lg"
                                placeholder="Your Email" name="email" value="">
                            <input type="hidden" name="g-recapcha-response" id="g-recapcha-response">
                            <span class="input-group-btn">
                                <button type="submit" name="subscribe" class="btn btn-theme-colored btn-dark btn-lg m-0"
                                    data-height="45px">Subscribe</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <h4 class="widget-title">Other Links</h4>
                    <ul class="list-border">
                        <li><a href="/contact">Help</a></li>
                        <li><a href="/privacy-statement">Privacy statement</a></li>
                        <li><a href="/sitemap">Sitemaps</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom  bg-black-222">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-md-6 sm-text-center">
                    <p class="font-12 m-0 text-white">Copyright &copy; 2019 St. Frances Cabrini Medical Center. All
                        Rights Reserved</p>
                </div>
                <div class="col-md-6 text-right flip sm-text-center">
                    <div class="widget no-border m-0">
                        <ul class="styled-icons icon-dark icon-circled icon-sm">
                            <li><a href="https://www.facebook.com/stcabrinimedicalcenter"><i class="fa fa-facebook fa-2x
"></i></a></li>
                            <li><a href="https://twitter.com/st_cabrini"><i class="fa fa-twitter fa-2x"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UC8MnKCwWIGl8eohNrhPIImQ"><i class="fa
                              fa-youtube fa-2x"></i></a></li>
                            <li><a href="https://www.instagram.com/st.cabrinicancerinstitute"><i class="fa
                              fa-instagram fa-2x"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>


<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->


<!-- JS | Custom script for all pages -->
<script src="js/custom.js"></script>

<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  -->
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript"
    src="/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript"
    src="/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript"
    src="/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

</body>

</html>