<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131811725-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-131811725-1');
    </script>



    <!-- Page Title -->
    <title>Welcome to St. Cabrini</title>

    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#1b5836">

    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />



    <!--Meta Description-->
    <meta name="description" content="" />

    <!--Meta Keyword-->
    <meta name="keywords" content="" />

    <meta name="author" content="St. Frances Cabrini Medical Center and Cancer Institute" />


    <!-- Favicon and Touch Icons -->
    <link href="/images/sfcmc.ico" rel="shortcut icon" type="image/png">
    <link href="/images/sfcmc-32x32.png" rel="apple-touch-icon">
    <link href="/images/sfcmc-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="/images/sfcmc-144x144.png" rel="apple-touch-icon" sizes="114x114">
    <link href="/images/sfcmc-144x144.png" rel="apple-touch-icon" sizes="144x144">

    <!-- Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
        type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet"
        type="text/css">
    <link href="/css/css-plugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link href="/css/menuzord-megamenu.css" rel="stylesheet" />
    <link id="menuzord-menu-skins" href="/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="/css/responsive.css" rel="stylesheet" type="text/css">


    <!-- Revolution Slider 5.x CSS settings -->
    <link href="/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />

    <!-- CSS | Theme Color -->
    <link href="/css/colors/theme-skin-color-set4.css" rel="stylesheet" type="text/css">
    <!-- CSS | Theme Color -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <!-- external javascripts -->
    <script src="/js/jquery.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="/js/jquery-plugin-collection.js"></script>

    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>


    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>



</head>

<body>
    <div id="wrapper">


        <!-- Header -->
        <header id="header" class="header">
            <div class="header-top bg-theme-colored2 sm-text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="widget no-border m-5 text-white">
                                <i class=" text-white" id="home"></i><a href="/avp" class=" text-white">Where Patient
                                    Experience
                                    Matters</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget no-border m-0">
                                <ul class="list-inline text-right flip sm-text-center mt-5">
                                    <li>
                                        <a class="text-white" href="/contact">Help</a>
                                    </li>
                                    <li class="text-white">|</li>


                                    <li>
                                        <a class="text-white"
                                            href="https://www.google.com/maps/place/St.Cabrini+Medical+Center/@14.1091822,121.1456229,19z/data=!4m5!3m4!1s0x33bd6594fc3abf6b:0x66bac53567d7db2b!8m2!3d14.109053!4d121.1457749?hl=en-US">Location</a>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-middle p-0 bg-lighter xs-text-center">
                <div class="container pt-20 pb-20">
                    <div class="row">
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <a class="menuzord-brand pull-left flip sm-pull-center mb-15" href="/"><img
                                    src="images/sfcmc-logo-header.webp" alt="St. Frances Cabrini Medical Center and Cancer
                             Logo"></a>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="widget no-border sm-text-center mt-10 mb-10 m-0">
                                <i
                                    class="fa fa-envelope text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                                <a href="/contact" class="font-12 text-gray text-uppercase">
                                    info@cabrinimed.com.ph</a>
                                <h5 class="font-13 text-black m-0"></h5>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <div class="widget no-border sm-text-center mt-10 mb-10 m-0">
                                <i
                                    class="fa fa-phone text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                                <a href="#" class="font-14 text-gray text-uppercase">(043) 778-4811 to 18</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="widget no-border sm-text-center mt-10 mb-10 m-0">
                                <i
                                    class="fa fa-map-marker text-theme-colored2 font-32 mt-5 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                                <a href="https://www.google.com/maps/place/St.Cabrini+Medical+Center/@14.1091822,121.1456229,19z/data=!4m5!3m4!1s0x33bd6594fc3abf6b:0x66bac53567d7db2b!8m2!3d14.109053!4d121.1457749?hl=en-US"
                                    class="font-12 text-gray text-uppercase"> Maharlika Highway, Sto. Tomas City,
                                    Batangas</a>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3">
                            <div class="widget no-border sm-text-center mt-10 mb-10 m-0">
                                <ul class="styled-icons icon-dark icon-circled icon-sm">
                                    <li><a href="https://www.facebook.com/stcabrinimedicalcenter"><i class="
                            text-theme-colored2 fa fa-facebook
                            fa-3x
"></i></a></li>
                                    <li><a href="https://twitter.com/st_cabrini"><i class="text-theme-colored2 fa fa-twitter
                            fa-3x"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UC8MnKCwWIGl8eohNrhPIImQ"><i class="text-theme-colored2 fa
                            fa-youtube fa-3x"></i></a></li>
                                    <li><a href="https://www.instagram.com/st.cabrinicancerinstitute"><i class="text-theme-colored2 fa
                            fa-instagram fa-3x"></i></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Start main-content -->
            <div class="main-content">