<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay" data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Ensuring a Positive Experience for Every Patient</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li class="active text-theme-colored">Patients Experience</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: about -->

    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">

            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">




                            <div class="row">
                                <div class="col-md-12">
                                    <div class="service-content ml-10 ml-sm-0">
                                        <br>
                                        <p>St. Frances Cabrini Medical Center continues to deliver compassionate and
                                            excellent medical care to its patients as we strive to fulfill all their
                                            hospital needs. In your stay here, you are not only guaranteed to quality
                                            healthcare but also to exceptional customer relations and operations.
                                            Everything we do is to ensure your needs and wants are met in the most
                                            effective way possible. </p>

                                        <iframe width="560" height="315" src="https://www.youtube.com/embed/_O6EDhuQkeY"
                                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                                        <br>



                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
    </section>
    <!-- end main-content -->