<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay" data-bg-img="images/bg/bg8.webp">
    <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class=" text-white ">Read What They are Saying About Us</h1>
                    <ol class="breadcrumb text-center text-black mt-10">
                        <li><a href="index.php" class="text-white">Home</a></li>
                        <li class="active text-theme-colored">Patient Experience</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container pt-50 pb-50">
    <div class="row">
        <div class="col-md-12">
            <h2>Patient Testimonials</h2>
            <p class="lead">These are actual testimonials taken from St. Frances Cabrini Medical Center's patients and
                visitors. Through our years of service, we are very proud to share you such positive feedbacks.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="container pt-100 pb-100">
        <div class="row">
            <div class="col-md-12">
                <div class="vertical-masonry-timeline-wrapper">
                    <ul class="vertical-masonry-timeline">



                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- end main-content -->