<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Looking for a New Job?</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">Career</a></li>
                            <li class="active text-theme-colored">Job List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>


    </section>


    <section class="bg-silver-light">
        <div class="container pt-0 ">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-line-bottom mt-0 mb-30">
                        <br><br>
                        <p class="lead">Don’t miss the opportunity to be a part of our team. Take the next step to your
                            career
                            growth
                            and join us today!
                        </p>
                    </div>

                    <div class=" pt-15 mb-0 p-0">
                        <h2 class=" mt-0 mb-40">Pediatric Residency Training and Internal Medicine Residency Training
                        </h2>

                        <p class="text-gray">St. Frances Cabrini Medical Center and Cancer Institute is now accepting
                            applicants for Pediatric Residency Training and Internal Medicine Residency Training!</p>

                        <p> Kindly submit the following requirements:</p>

                        <ul>
                            <li> 1. Letter of application (addressed to Dr. Malen M. Gellido, Medical Director)</li>
                            <li>2. Diploma</li>
                            <li>3. Certificate of internship</li>
                            <li> 4. Copy of TIN & SSS</li>
                        </ul>
                        <hr>

                    </div>

                    <div class=" pt-15 mb-0 p-0">
                        <h2 class=" mt-0 mb-40">Staff Pharmacist </h2>

                        <h5>QUALIFICATIONS REQUIRED:</h5>
                        <ul>
                            <li> A. EDUCATION
                                <ul>
                                    <li>Possession of a valid license to practice as a pharmacist at the time of
                                        employment</li>
                                </ul>
                            </li>
                            <li> B. EXPERIENCE EDUCATION
                                <ul>
                                    <li>At least one year of work experience as a licensed pharmacist with some
                                        experience as clinical pharmacist is an advantage</li>
                                </ul>
                            </li>

                            <li>C. CORE COMPETENCIES and REQUIRED SKILL SETS
                                <ul>
                                    <li>1. Thorough knowledge of:</li>
                                    <li>2. Good communication skills
                                        <ul>
                                            <li><i class="icon_stop"></i>Methods and procedures used in the practice of
                                                pharmacy</li>
                                            <li><i class="icon_stop"></i>Philippine regulatory laws pertaining to the
                                                dispensing and the use of prescription drugs including controlled
                                                substances</li>
                                            <li><i class="icon_stop"></i>Composition, storage and uses of drugs</li>
                                            <li><i class="icon_stop"></i>Working knowledge of compounding of
                                                prescriptions and pharmaceutical preparations</li>
                                            <li><i class="icon_stop"></i>Purchasing pharmaceutical supplies and
                                                inventory</li>
                                        </ul>
                                    </li>
                                    <li>3. Customer focus</li>
                                </ul>
                            </li>
                        </ul>


                        <hr>

                    </div>

                    <div class=" pt-15 mb-0 p-0">
                        <h2 class=" mt-0 mb-40">Staff Nurse </h2>

                        <h5>QUALIFICATIONS REQUIRED:</h5>
                        <ul>
                            <li> A. EDUCATION
                                <ul>
                                    <li>1. Bachelor of Science in Nursing</li>
                                    <li>2. Graduate of an accredited professional College of Nursing</li>
                                    <li>3. Current RN licensure in the Philippines</li>
                                </ul>
                            </li>
                            <li> B. EXPERIENCE
                                <ul>
                                    <li>1. 3 months training in SFCMC General Ward.</li>
                                    <li>2. At least 1 year experience in same unit if from other Hospital</li>
                                    <li>3. Ward Nursing care function</li>
                                    <li>4. IV Therapy Training</li>
                                    <li>5. Basic Life Support, Basic Computer</li>
                                </ul>
                            </li>

                            <li>C. CORE COMPETENCIES and REQUIRED SKILL SETS
                                <ul>
                                    <li>1 Current clinical knowledge in the area</li>
                                    <li>2 Evidence of good interpersonal and communication
                                    <li>3 Basic computer knowledge</li>
                                    <li>4 Current clinical knowledge in assigned area</li>
                                    <li>5 Good working knowledge of DOH standards with emphasis in the nursing process,
                                        care planning and quality assurance</li>
                                    <li>6 Evidence of current continuing education annually</li>
                                    <li>7 Membership involvement in professional association</li>
                                    <li>8 Know how to handle people</li>
                                    <li>9 Know how to operate all the equipment in the ward.</li>
                                    <li>10 Verbal and written mastery of English language</li>


                                </ul>
                            </li>
                        </ul>


                        <hr>

                    </div>

                    <div class=" pt-15 mb-0 p-0">
                        <h2 class=" mt-0 mb-40">Nursing Assistant</h2>
                        <h5>JOB SUMMARY:</h5>
                        <p>Responsible in delivering delegated nursing procedure in order to attain quality patient
                            care; expected to meet the standard requirement for the effective and efficient performance
                            as an extension of nursing service function.</p>

                        <h5>QUALIFICATIONS REQUIRED:</h5>
                        <ul>
                            <li> A. EDUCATION
                                <ul>
                                    <li>1. Nursing Assistant/ Care Giver Course.</li>
                                    <li>2. 2 year college course preferably medical related course.</li>
                                    <li>3. Under board BSN graduate.</li>
                                </ul>
                            </li>
                            <li> B. EXPERIENCE
                                <ul>
                                    <li>1. 3 months training at SFCMC ward stations.</li>
                                    <li>2. 6 months related experience if from other hospital.</li>
                                </ul>
                            </li>

                            <li>C. CORE COMPETENCIES and REQUIRED SKILL SETS
                                <ul>
                                    <li>1 Interpersonal relations with patients, relatives, visitors and co-staff.</li>
                                    <li>2 Can perform basic nursing procedures.</li>
                                    <li>3 Know how to operate all the equipment in the Ward namely
                                        <ul>
                                            <li><i class="icon_stop"></i>suction machine</li>
                                            <li><i class="icon_stop"></i>pulse oximeter</li>
                                            <li><i class="icon_stop"></i>defibrillator</li>
                                            <li><i class="icon_stop"></i>infusion pump</li>
                                        </ul>
                                    </li>
                                    <li>4 Proper accommodation of patients.</li>
                                    <li>5 Proper dissemination of information, keeping the confidentiality of patient’s
                                        data.</li>
                                    <li>6 Nursing Assistant functions.</li>


                                </ul>
                            </li>
                        </ul>


                        <hr>

                    </div>

                    <div class=" pt-15 mb-0 p-0">
                        <h2 class=" mt-0 mb-40">Dialysis Staff Nurse</h2>
                        <h5>JOB SUMMARY:</h5>
                        <p>Responsible in delivering safe and effective nursing procedures/care in accordance with the
                            standards of nursing practice.</p>
                        <p>Reports to work 40 hours per week</p>

                        <h5>QUALIFICATIONS REQUIRED:</h5>
                        <ul>
                            <li> A. EDUCATION
                                <ul>
                                    <li>BS Nursing</li>

                                </ul>
                            </li>
                            <li> B. EXPERIENCE
                                <ul>
                                    <li>At least 6 months - 1 year practical ward experience, 3-6 months in hemodialysis
                                        unit or 1 year experience in similar hospital.</li>

                                </ul>
                            </li>

                            <li>C. CORE COMPETENCIES and REQUIRED SKILL SETS
                                <p><strong>General Competencies:</strong></p>
                                <ul>
                                    <li> <i class="icon_stop"></i>Graduate of an accredited professional College of
                                        Nursing</li>
                                    <li><i class="icon_stop"></i> Current RN licensure passer in the Philippines</li>

                                    <ul>
                                        <li>1. Clinical knowledge in assigned area</li>
                                        <li>2. Certification of hemodialysis training</li>
                                        <li>3. BLS-ACLS Provider</li>
                                        <li>4. IV Therapist</li>
                                        <li>5. Computer Skills</li>
                                        <li>6. Articulate and good interpersonal skills</li>
                                        <li>7. Good working knowledge of DOH standards with emphasis in the nursing
                                            process, care planning and quality assurance</li>
                                        <li>8. Know how to operate all the equipment in Dialysis namely: suction
                                            machine, pulse oximeter, defibrillator, BP apparatus, Hemodialysis machine,
                                            reprocessing machine, RO water system</li>
                                        <li>9. Evidence of current continuing education annually</li>
                                        <li>10. Membership involvement in professional organization</li>


                                    </ul>
                                </ul>

                            </li>
                        </ul>


                        <hr>

                    </div>

                    <div class=" pt-15 mb-0 p-0">
                        <h2 class=" mt-0 mb-40">Admitting Staff</h2>
                        <h5>JOB SUMMARY:</h5>
                        <p>Responsible for admission and discharge of patients; Responsible for assessing patients’
                            financial status during admission, coordinating rooms to the stations preferred by the
                            patient/relative.</p>

                        <h5>QUALIFICATIONS REQUIRED:</h5>
                        <ul>
                            <li> A. EDUCATION
                                <ul>
                                    <li>4 year Course graduate</li>

                                </ul>
                            </li>
                            <li> B. EXPERIENCE
                                <ul>
                                    <li>6 months to one year work experience</li>
                                </ul>
                            </li>

                            <li>C. CORE COMPETENCIES and REQUIRED SKILL SETS
                                <ul>
                                    <li>1 Basic computer knowledge</li>
                                    <li>2 Knowledge in clerical works</li>
                                    <li>3 Analytical; can do decision making by herself especially in emergency/extreme
                                        cases</li>
                                </ul>
                            </li>
                        </ul>


                        <hr>

                    </div>

                    <div class=" pt-15 mb-0 p-0">
                        <h2 class=" mt-0 mb-40">ER CLERK</h2>
                        <h5>JOB SUMMARY:</h5>
                        <p>The incumbent is responsible for facilitation of registration. ER clerk greets patients and
                            starts process such as obtaining and verifying identification, insurance, and any medical
                            records.</p>

                        <h5>QUALIFICATIONS REQUIRED:</h5>
                        <ul>
                            <li> A. EDUCATION
                                <ul>
                                    <li>At least 2 years Medical Related Course</li>

                                </ul>
                            </li>
                            <li> B. EXPERIENCE
                                <ul>
                                    <li>3 months to 6 months training or work in a hospital setting</li>
                                </ul>
                            </li>

                            <li>C. CORE COMPETENCIES and REQUIRED SKILL SETS
                                <ul>
                                    <li>1 Knowledge in basic computer</li>
                                    <li>2 Knowledge in some medical terms</li>
                                    <li>3 Can carry out superior’s order accurately and promptly</li>
                                    <li>4 With good customer relationship</li>
                                </ul>
                            </li>
                        </ul>


                        <hr>

                    </div>



                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->