
<section id="home" class="divider">
<div class="container-fluid p-0">
<div id="rev_slider_home_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery34" style="margin:0 auto;background-color:#fff;padding:0;margin-top:0;margin-bottom:0">
<div id="rev_slider_home" class="rev_slider fullwidthabanner" style="display:none" data-version="5.0.7">
<ul>
<li data-index="rs-0" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
<img src="images/slider/bg8.webp" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-2-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index:5;background-color:rgba(0,0,0,0.30);border-color:rgba(0,0,0,1.00)">
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['120','100','70','90']" data-fontsize="['28','24','24','24']" data-lineheight="['33','30','30','30']" data-fontweight="['600','600','600','600']" data-textalign="['center','center','center','center']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap">
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['120','100','70','90']" data-fontsize="['28','24','24','24']" data-lineheight="['33','30','30','30']" data-fontweight="['600','600','600','600']" data-textalign="['center','center','center','center']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap">St. Cabrini
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['165','135','105','130']" data-fontsize="['70','56','50','46']" data-lineheight="['70','60','50','45']" data-fontweight="['800','700','700','700']" data-textalign="['center','center','center','center']" data-width="['800','750','700','520']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:6;min-width:800px;max-width:800px;white-space:normal">Where<span class="text-theme-colored"> Patient</span> Experience <span class="text-theme-color-2">Matters</span>
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['320','260','220','220']" data-fontsize="['24','24','22','18']" data-lineheight="['30','30','28','25']" data-fontweight="['600','600','600','600']" data-textalign="['center','center','center','center']" data-width="['700','650','600','420']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap">Dedicated to making our patients feel better
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['400','340','300','300']" data-fontsize="['28','28','26','26']" data-lineheight="['30','30','30','30']" data-fontweight="['600','600','600','600']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap"><a href="avp.php" class="btn btn-dark btn-theme-colored btn-xl">View More</a>
</div>
</li>
<li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/slider/mri-siemens.jpg" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
<img src="images/slider/mri-siemens.webp" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index:5;background-color:rgba(0,0,0,0.20);border-color:rgba(0,0,0,1.00)">
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-2" data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']" data-voffset="['120','100','70','90']" data-fontsize="['65','56','50','46']" data-lineheight="['70','60','50','45']" data-fontweight="['800','700','700','700']" data-width="['800','700','650','420']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:6;min-width:600px;max-width:600px;white-space:normal"> Magnetic Resonance Imaging <span class="text-theme-colored">- MRI</span> is Soon <span class="text-theme-color-2">to Open</span>
</div>
	<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-4" data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" data-y="['top','top','top','top']" data-voffset="['360','290','260','260']" data-fontsize="['18','18','16','16']" data-lineheight="['30','30','30','30']" data-fontweight="['600','600','600','600']" data-width="['700','650','600','420']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap"><a href="services.php?page_id=17&name=Radiology" class="btn btn-dark btn-theme-colored-1 btn-xl">View More</a>
</div>
</li>
<li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
<img src="images/slider/bg1.webp" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index:5;background-color:rgba(0,0,0,0.20);border-color:rgba(0,0,0,1.00)">
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-2" data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']" data-voffset="['120','100','70','90']" data-fontsize="['70','56','50','46']" data-lineheight="['70','60','50','45']" data-fontweight="['800','700','700','700']" data-width="['700','650','600','420']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:6;min-width:600px;max-width:600px;white-space:normal"> Executive <span class="text-theme-colored">Health</span> <span class="text-theme-color-2">Clinic</span>
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-3" data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']" data-voffset="['280','220','180','180']" data-fontsize="['24','24','22','18']" data-lineheight="['30','30','28','25']" data-fontweight="['600','600','600','600']" data-width="['700','650','600','420']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap"><br> The Region’s most trusted healthcare provider
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-4" data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" data-y="['top','top','top','top']" data-voffset="['360','290','260','260']" data-fontsize="['18','18','16','16']" data-lineheight="['30','30','30','30']" data-fontweight="['600','600','600','600']" data-width="['700','650','600','420']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap"><a href="services.php?page_id=4&name=Executive%20Wellness%20Center" class="btn btn-dark btn-theme-colored-1 btn-xl">View More</a>
</div>
</li>
<li data-index="rs-4" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
<img src="images/slider/cnu.webp" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-2-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index:5;background-color:rgba(0,0,0,0.30);border-color:rgba(0,0,0,1.00)">
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['120','100','70','90']" data-fontsize="['28','24','24','24']" data-lineheight="['33','30','30','30']" data-fontweight="['600','600','600','600']" data-textalign="['center','center','center','center']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap">
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-2" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['120','100','70','90']" data-fontsize="['28','24','24','24']" data-lineheight="['33','30','30','30']" data-fontweight="['600','600','600','600']" data-textalign="['center','center','center','center']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap">St. Cabrini
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-3" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['165','135','105','130']" data-fontsize="['70','56','50','46']" data-lineheight="['70','60','50','45']" data-fontweight="['800','700','700','700']" data-textalign="['center','center','center','center']" data-width="['700','650','600','420']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:6;min-width:600px;max-width:600px;white-space:normal">The New<span class="text-theme-colored"> Clinical</span> Nutrition <span class="text-theme-color-2">Unit</span>
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-4" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['320','260','220','220']" data-fontsize="['24','24','22','18']" data-lineheight="['30','30','28','25']" data-fontweight="['600','600','600','600']" data-textalign="['center','center','center','center']" data-width="['700','650','600','420']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap">Committed to providing comprehensive support for
<br>patients with specialized nutrition needs
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-2-layer-5" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['400','340','300','300']" data-fontsize="['18','18','16','16']" data-lineheight="['30','30','30','30']" data-fontweight="['600','600','600','600']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap"><a href="services.php?page_id=23&name=Clinical%20Nutrition%20Unit" class="btn btn-dark btn-theme-colored btn-xl">Read More</a>
</div>
</li>
<li data-index="rs-5" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="images/slider/womens-wellness.webp" data-rotate="0" data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off" data-title="Make an Impact">
<img src="images/slider/womens-wellness.webp" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
<div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="full" data-height="full" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;" data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;" data-start="1000" data-basealign="slide" data-responsive_offset="on" style="z-index:5;background-color:rgba(0,0,0,0.20);border-color:rgba(0,0,0,1.00)">
</div>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-2" data-x="['left','left','left','left']" data-hoffset="['50','50','50','30']" data-y="['top','top','top','top']" data-voffset="['120','100','70','90']" data-fontsize="['70','56','50','46']" data-lineheight="['70','60','50','45']" data-fontweight="['800','700','700','700']" data-width="['800','750','650','520']" data-height="none" data-whitespace="normal" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:6;min-width:600px;max-width:600px;white-space:normal"><br> Women's Wellness <br><span class="text-theme-colored"></span> & <span class="text-theme-color-2">Breast Clinic</span>
</div><br>
<div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0" id="slide-1-layer-4" data-x="['left','left','left','left']" data-hoffset="['53','53','53','30']" data-y="['top','top','top','top']" data-voffset="['360','290','260','260']" data-fontsize="['18','18','16','16']" data-lineheight="['30','30','30','30']" data-fontweight="['600','600','600','600']" data-width="['700','650','600','420']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;" data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1000" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index:7;white-space:nowrap"><a href="services.php?page_id=22&name=Womens%20Wellness%20Center" class="btn btn-dark btn-theme-colored btn-xl">Read More</a>
</div>
</li>
</ul>
<div class="tp-bannertimer tp-bottom" style="height:5px"></div>
</div>
</div>
<script>var tpj=jQuery;var revapi34;tpj(document).ready(function(){if(tpj("#rev_slider_home").revolution==undefined){revslider_showDoubleJqueryError("#rev_slider_home")}else{revapi34=tpj("#rev_slider_home").show().revolution({sliderType:"standard",jsFileLocation:"js/revolution-slider/js/",sliderLayout:"fullwidth",dottedOverlay:"none",delay:9000,navigation:{keyboardNavigation:"on",keyboard_direction:"horizontal",mouseScrollNavigation:"off",onHoverStop:"on",touch:{touchenabled:"on",swipe_threshold:75,swipe_min_touches:1,swipe_direction:"horizontal",drag_block_vertical:false},arrows:{style:"zeus",enable:true,hide_onmobile:true,hide_under:600,hide_onleave:true,hide_delay:200,hide_delay_mobile:1200,tmp:"",left:{h_align:"left",v_align:"center",h_offset:30,v_offset:0},right:{h_align:"right",v_align:"center",h_offset:30,v_offset:0}}},viewPort:{enable:true,outof:"pause",visible_area:"80%"},responsiveLevels:[1240,1024,778,480],gridwidth:[1240,1024,778,480],gridheight:[600,550,500,450],lazyType:"none",parallax:{type:"scroll",origo:"enterpoint",speed:400,levels:[5,10,15,20,25,30,35,40,45,50],},shadow:0,spinner:"off",stopLoop:"off",stopAfterLoops:-1,stopAtSlide:-1,shuffle:"off",autoHeight:"off",hideThumbsOnMobile:"off",hideSliderAtLimit:0,hideCaptionAtLimit:0,hideAllCaptionAtLilmit:0,debugMode:false,fallbacks:{simplifyAll:"off",nextSlideOnWindowFocus:"off",disableFocusListener:false,}})}});</script>
</div>
</section>
<!-- Section: Services -->
<section id="services" class="bg-silver-light">
    <div class="container pb-40">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0 line-height-1">Featured <span class="text-theme-colored2">Services</span></h2>
                    <div class="title-icon">
                        <img class="mb-10" src="images/title-icon.png" alt="">
                    </div>

                </div>
            </div>


            <div class="section-content">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="services.php?page_id=1">
                            <div class="post-thumb">
                                <img src="images/featured-services/ci.webp" alt="The First Cancer Institute in Calabarzon" class="img-responsive
                    img-fullwidth">
                            </div>
                            <div class="icon-box text-center bg-white  mb-30 p-30">
                                <h4>Cancer Institute</h4>
                                <p>SFCMC delivers diverse treatment for all our cancer patients.</p>
                        </a>
                        <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="services.php?page_id=25">Learn More</a><br>

                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <a href="services.php?page_id=4">
                        <div class="post-thumb">
                            <img src="images/featured-services/dental.webp" alt="The First Cancer Institute in Calabarzon"
                                 class="img-responsive
                    img-fullwidth">
                        </div>
                        <div class="icon-box text-center bg-white  mb-30 p-30">
                            <h4>Dental Clinic</h4>
                            <p>Helping you meet your oral health needs</p>
                            <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="services.php?page_id=2">Learn More</a><br>
                    </a>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <a href="services.php?page_id=6">
                    <div class="post-thumb">
                        <img src="images/featured-services/industrial.webp" alt="The First Cancer Institute in Calabarzon" class="img-responsive
                    img-fullwidth">
                    </div>
                    <div class="icon-box text-center bg-white  mb-30 p-30">
                        <h4>Industrial Clinic</h4>
                        <p>We are your reliable occupational healthcare services provider.
                        </p>
                        <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="services.php?page_id=6">Learn More</a><br>
                </a>
            </div>
        </div>

    </div>
    </div>

    <div class="section-content">
        <div class="row">
            <a class="btn btn-default btn-transparent btn-theme-colored btn-flat btn-lg" href="services-list.php">View All Services</a>

        </div>
    </div>


    </div>
    </div>
</section>

<!-- Section: Stats -->
<section class="divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp" data-parallax-ratio="0.7">
    <div class="container pt-60 pb-60">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-home mt-5 text-white"></i>
                    <h2 data-animation-duration="1" data-value="100" class="animate-number text-white font-42 font-weight-500">Rooms</h2>
                    <h5 class="text-white text-uppercase font-weight-600">Rooms</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class=" pe-7s-add-user mt-5 text-white"></i>
                    <h2 data-animation-duration="1" data-value="338" class="animate-number text-white font-42 font-weight-500">0</h2>
                    <h5 class="text-white text-uppercase font-weight-600">Our Doctors</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-rocket mt-5 text-white"></i>
                    <h2 data-animation-duration="1" data-value="78,000" class="animate-number text-white font-42 font-weight-500">0</h2>
                    <h5 class="text-white text-uppercase font-weight-600">In-Patient</h5>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                <div class="funfact text-center">
                    <i class="pe-7s-global mt-5 text-white"></i>
                    <h2 data-animation-duration="1" data-value="782,000" class="animate-number text-white font-42 font-weight-500">0</h2>
                    <h5 class="text-white text-uppercase font-weight-600">Out-Patient</h5>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Promotional's -->
<section id="pricing">
    <div class="container pb-50">
        <div class="section-title text-center mb-60">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="mt-0 line-height-1 text-uppercase">Featured <span class="text-theme-colored2">Promotions</span></h2>
                    <div class="title-icon">
                        <img class="mb-10" src="images/title-icon.png" alt="">
                    </div>
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p> -->
                </div>
            </div>
        </div>
        <div class="section-content mt-20">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInLeft animation-delay1">
                    <div class="pricing-table style1 bg-white-light text-center">
                        <div class="pricing-icon">
                            <i class="flaticon-medical-medical51"></i>
                        </div>
                        <div class="p-40 bg-white">
                            <h3 class="package-type mt-0 font-24 text-uppercase">Executive Wellness Center</h3>
                            <p>St. Frances Cabrini Medical Center is dedicated to providing quality healthcare services for professionals.</p>
                            <p> </p>
                            <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="services.php?page_id=4">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInUp animation-delay1">
                    <div class="pricing-table style1 bg-white-light text-center">
                        <div class="pricing-icon">
                            <i class="flaticon-medical-hospital35"></i>
                        </div>
                        <div class="p-40 bg-white">
                            <h3 class="package-type mt-0 font-24 text-uppercase">Z-Benefit Packages</h3>
                            <p>Philhealth-accredited institution to offer Z-Benefit Packages for financially and medically catastrophic illnesses</p>
                            <p> </p>
                            <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="services.php?page_id=24">Learn More</a><br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInRight animation-delay1">
                    <div class="pricing-table style1 bg-white-light text-center">
                        <div class="pricing-icon">
                            <i class="flaticon-medical-stethoscope10"></i>
                        </div>
                        <div class="p-40 bg-white">
                            <h3 class="package-type mt-0 font-24 text-uppercase">Out-patient Services</h3>
                            <p>Quality medical assistance for non-admitted patients</p>
                            <p> </p>
                            <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="services.php?page_id=6">Learn More</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<!--Section: testimonials-->
<section class="divider parallax layer-overlay " data-background-ratio="0.7" data-bg-img="images/bg/testimonials.webp" data-bgposition="center center" data-bgfit="cover">
    <div class="container">
        <div class="section-title text-center mt-0">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="mt-0 line-height-1 text-uppercase text-white">Patients testimonials</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="images/title-icon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-3col" data-dots="true">

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25"> "I really recommend Mr. Darwin ng (Lab) from phone accommodation palang up to extraction he is very lovely, magalang, napakagaling painless sa pagkuha ng dugo  sa mother ko... </p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>
                                    <h6 class="title mt-0 mb-15">August 23, 2018</h6>
                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25"> “Nurses treat their patients as if their family. Thank you to Nurse Jeremay, Nurse Jeff, Nurse Shiela, Nurse Mara, continue touching lives”.</p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>
                                    <h6 class="title mt-0 mb-15">August 25, 2018</h6>
                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>



                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25">“Good morning! Feedback for Littelfuse managers who undergo Executive Checkup:People - great job, very accommodating...</p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>

                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25">”I want to express my whole hearted gratitude to the ICU staff of Cabrini Cancer Institute, for taking care and supporting me on my 12 hours stay in the unit. Maraming, maraming salamat sa inyo Marinel Millarez(Headnurse)...</p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>

                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25">“Isa sa mga nakakataba ng puso lalo na sa panahon na kailangan mo ng tulong ay ang mabuting pakikitungo at pagtanggap at pag-asikaso ng staff ng hospital lalo na sa admitting section....</p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>
                                    <h6 class="title mt-0 mb-15">September 27, 2018</h6>
                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25"> Maraming Salamat po sa magandang serbisyong binigay ninyo po sa amin napakalaking biyaya niyo po para sa amin. Napakayos niyo pong makitungo sa mga pasyente niyo 100% po ang pagsaludo naming sa ospital niyo....</p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>
                                    <h6 class="title mt-0 mb-15">November 20, 2018</h6>
                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25"> I wish to thank Dr. Alonzo, Dr. Magalit, Dr Gonzales, and the tandem of Dr Malen Gellido and Dr Guarin for taking good care of brother during his surgery/confinement at the hospital from Nov 17 to Nov 23, 2018. I am praying that God will continue the Cabrini Team of Doctors to heal people...</p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>

                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25"> “Ang masasabi kulang po ay sana ipagpatuloy pa po ninyo ang inyong kabaitang serbisyo sa amin ako po ay sobrang nasiyahan sa ipinakita ninyong pag serbisyo sa aking anak na si Jhon Joshua Llanes...</p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>
                                    <h6 class="title mt-0 mb-15">December 1, 2018</h6>
                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25"> ” Cabrini Hospital simula sa utility, security guard, nars, especially sa  aming doctor na si Dr. Zoleta, sobrang napakabait, magalang, malinis at mabilis na transaction...</p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>
                                    <h6 class="title mt-0 mb-15">December 5, 2018</h6>
                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>

                        <div class="item">
                            <div class="testimonial-wrapper text-center bg-white p-30">

                                <div class="content">
                                    <p class="mb-25"> “Maraming salamat kay Nurse Kate sa pag-aalaga kay tatay at sa palaging pagpapasaya sa kanya. Sana ay maraming pang nurse ang tulad mo”. </p>
                                    <h4 class="author text-theme-colored2 mb-0">– Anonymous</h4>
                                    <h6 class="title mt-0 mb-15">January 18, 2019</h6>
                                    <a href="patient-testimonials.php">Read more</a>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section: News-->
<section id="blog" class="bg-lighter pb-30">
    <div class="container">
        <div class="section-title text-center mt-0">


            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="mt-0 line-height-1 text-uppercase">News and <span
                                class="text-theme-colored2">Events</span></h2>
                    <div class="title-icon">
                        <img class="mb-10" src="images/title-icon.png" alt="">
                    </div>
                </div>
            </div>


            <div class="row">


                <div class="section-content">
                    <div class="row">


                    <div class="col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth500 mb-sm-30">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="images/news-events/japanesse-visit.webp" alt="Japanese delegates visit" class="img-responsive
                                     img-fullwidth">
                                    </div>

                                    <div class="entry-content bg-white p-30">
                                        <a href="japanese-delegates-visit-st.-cabrini.php">  <h4>Japanese delegates visit <br>St. Cabrini
</h4></a>


                                        <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="japanese-delegates-visit-st.-cabrini.php">Read
                                            more <i class="fa
                  fa-angle-double-right"></i></a>
                                        <div class="clearfix"></div>
                                    </div>
                            </article>
                        </div>
						
						
						 <div class="col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth500  mb-sm-30">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="images/news-events/cnu-lay-fora-2019.webp" alt="CNU holds Diet and Physical Activity Lay Fora" class="img-responsive
                                        img-fullwidth">
                                    </div>

                                </div>
                                <div class="entry-content bg-white p-30">
                                    <a href="cnu-holds-diet-and-physical-activity-lay-fora.php">  <h4>CNU holds Diet and Physical Activity Lay Fora</h4></a>

                                    <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="cnu-holds-diet-and-physical-activity-lay-fora.php">Read more <i class="fa
                   fa-angle-double-right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                       

                        <div class="col-sm-6 col-md-4">
                            <article class="post clearfix maxwidth500">
                                <div class="entry-header">
                                    <div class="post-thumb">
                                        <img src="images/news-events/cnu-fun-run-2019.webp" alt="TwDA and PDA Dental Mission"
                                             class="img-responsive
                                        img-fullwidth">
                                    </div>

                                </div>
                                <div class="entry-content bg-white p-30">
                                    <a href="cnu-fun-run-kicks-off-nutrition-month-celebration.php">  <h4> CNU Fun Run kicks-off Nutrition Month celebration</h4></a>

                                    <a class="btn btn-colored btn-theme-colored2 text-uppercase mt-30" href="cnu-fun-run-kicks-off-nutrition-month-celebration.php">Read more <i class="fa
                   fa-angle-double-right"></i></a>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <br>
                <div class="section-content">
                    <div class="row">
                        <a class="btn btn-default btn-transparent btn-theme-colored btn-flat btn-lg center"
                           href="news.php">View All Our News and Events</a>

                    </div>
                </div>
            </div>

        </div>

    </div>


</section>

<!--Section: Connections-->
<section class="clients">
    <div class="container pt-10 pb-10">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section: Clients -->
                    <div class="owl-carousel-6col transparent text-center owl-nav-top">
                        <div class="item"> <a href="#"><img src="images/clients/1.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="images/clients/2.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="images/clients/3.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="images/clients/4.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="images/clients/5.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="images/clients/6.png" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="images/clients/7.png" alt=""></a></div>
                        <!--                <div class="item"> <a href="#"><img src="images/clients/8.png" alt=""></a></div>-->
                        <!--                <div class="item"> <a href="#"><img src="images/clients/9.png" alt=""></a></div>-->
                        <div class="item"> <a href="#"><img src="images/clients/10.png" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
	