<!-- Start main-content -->
<div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2 class="title text-white">Privacy Statement</h2>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">Pages</a></li>
                            <li class="active text-theme-colored">Privacy Statement</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row multi-row-clearfix">

                <h1>ST. FRANCES CABRINI MEDICAL CENTER PRIVACY NOTICE</h1>


                <p style="font-style: italic">Your Information. Your Rights. Our Responsibilities.</p>

                <p>We respect every individual's right to privacy as much as we aim to ensure personal data protection
                    and security of every patient, employee, physician, and partner, so please take the time to read
                    this Privacy Notice explaining how we process the personal data we collect.</p>

                <h3>HOW WE USE YOUR INFORMATION</h3>
                <p>
                    When you come to SFCMC, information about you, your medical treatment and family background are
                    recorded, on paper and computer, to help us care for you. The information is part of your health
                    record and will be kept in case we need to see you again. Members of the clinical teams looking
                    after you may share your personal health information with each other. This team may include
                    healthcare professionals, support staff, partners and interns/students. All SFCMC staff are bound by
                    law and a strict code of confidentiality. Your confidentiality is very important to us, and we have
                    strict controls in place to protect your information.
                </p>

                <h3>USE OF CCTV</h3>
                <p>
                    We employ surveillance cameras (CCTV) on and around the hospital site in order to:
                </p>

                <ul>
                    <li>a. protect staff, patients, visitors, and property</li>
                    <li>b. provide a deterrent effect and reduce unlawful activity</li>
                    <li>c. monitor operation and safety-related incidents.</li>
                </ul>

                <h3>SHARING YOUR INFORMATION</h3>
                <p>
                    Sometimes we have to pass on information by law:</p>

                <ul>
                    <li>a. to notify a birth</li>
                    <li>b. when an infectious disease such as meningitis or measles may endanger the safety of others
                    </li>
                    <li>c. where a formal court order has been issued</li>
                </ul>



                <p>

                    We may have to share information about you with non-SFCMC personnel: we will only do this if it is
                    necessary, and if we need your consent we will ask you for it. The organizations which may need your
                    information are your Insurance Provider, Philippine Health Insurance Corporation (PHIC), Department
                    of Health (DOH) and partners of SFCMC in giving medical services.
                </p>

                <p>


                    In addition, information may be used for approved research projects. In most instances, the
                    information will be made anonymous so that you cannot be identified. If this is not possible, we
                    will ask your permission and approval.
                </p>


                <h3>SECURITY OF YOUR INFORMATION</h3>

                <p>

                    SFCMC collects, stores and uses personal data every day, such as medical or personal records which
                    may be paper-based or held on a computer. We take our duty to protect your personal information and
                    confidentiality very seriously and are committed to taking appropriate measures in the physical,
                    organizational and technical structure to ensure it is held securely and only accessed by authorized
                    personnel and those with a need to know.
                </p>



                <h3>DATA STORAGE AND RETENTION</h3>
                <p>

                    Your data are kept inside the SFCMC. Only authorized personnel and security personnel have access to
                    them. We retain your data in accordance with all the rules and regulation of SFCMC. CCTV footages,
                    on the other hand, are stored for seven days (7) days before being automatically deleted. We do NOT
                    TRANSFER your personal data with other persons or organizations unless required or permitted by law.
                </p>
                <h3>CHANGES AND UPDATES TO THE PRIVACY NOTICE</h3>

                <p>

                    We can change and update the terms of this notice, and the changes will apply to all the information
                    we have about you.

                </p>
                <h3>DATA SUBJECTS RIGHT</h3>
                <p>
                    You have rights under the law regarding your personal data:

                </p>


                <ul>
                    <li>A. Right to be informed</li>
                    <li>B. Right to object</li>
                    <li>C. Right to access</li>
                    <li>D. Right to rectify</li>
                    <li>E. Right to erase or blocking</li>
                    <li>F. Right to damages</li>
                    <li>A. Right to be informed</li>
                    <li>G. Right to data portability</li>
                    <li>H. Right to file a complaint</li>


                </ul>






                <p>

                    Should you wish to exercise them, or if you have questions, complaints, or security incidents
                    involving personal data contact us at:

                </p>

                <p>

                    Landline: (043) 778-4811 loc. 8871/8872

                </p>

                <p>

                    Address: QMS, Mezzanine Floor Hospital Building, SFCMC.


                </p>



                <p>

                    SFCMC — DATA PROTECTION OFFICER local 8871 or 8872


                </p>





            </div>
        </div>
    </section>


</div>
<!-- end main-content -->