<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Responding to Your Medical Needs and Concerns
                        </h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">Patients and Visitors</a></li>
                            <li class="active text-theme-colored">Admission Guidelines</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">

            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">



                            <div class="tab-content bg-white">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="service-content ml-10 ml-sm-0">

                                            <h2>Admission Guidelines</h2>

                                            <p>The Admitting section is responsible for processing your accommodation at
                                                St. Frances Cabrini Medical Center, which aims to respond to the
                                                patient’s need in terms of providing convenient rooms and to make them
                                                feel better.</p>

                                            <p>You will need to bring the following:</p>

                                            <ol>
                                                <li>1. Physician admission order slip </li>
                                                <li>2. Philhealth requirements</li>
                                                <li>3. Senior Citizen ID (for elderly patients)</li>
                                            </ol>

                                            <br>

                                            <p>During the processing of admission, the admitting personnel will explain
                                                and ask you to fill out and sign the following forms:</p>

                                            <ul>
                                                <li>Admission Form &ndash; all personal information of the patient will
                                                    be written on this form and will be entered to our hospital’s
                                                    computer database
                                                </li>
                                                <li>Confirmation of Responsibility &ndash; this form will be signed by
                                                    the patient or relative that they fully understand their
                                                    responsibility for the patient’s account</li>
                                                <li>Consent for Hospital Care &ndash; the patient or relative will be
                                                    asked to sign this form that they allow us to release information to
                                                    insurance companies and/or patient's employer</li>
                                            </ul>

                                            <p>You may choose from the following room types: (with photos)</p>

                                            <ul>
                                                <li><i class="fa fa-check-square"></i> Private</li>
                                                <li><i class="fa fa-check-square"></i> Semi-private</li>
                                                <li><i class="fa fa-check-square"></i> Ward</li>
                                            </ul>
                                            <br>

                                            <p>If you have a Letter of Authorization (LOA) or Letter of Guarantee (LOG)
                                                from your HMO/Insurance or Accredited Company, kindly present it to the
                                                admitting personnel upon admission.</p>

                                            <p style="margin-left:0in; margin-right:0in"><span
                                                    style="font-size:11pt"><span style="background-color:white"><span
                                                            style="font-family:Calibri,sans-serif"><span
                                                                style="font-size:12.0pt">The admitting personnel will
                                                                explain the room categories and its amenities and the
                                                                rules and regulations of the hospital.</p>

                                            <p><span style="background-color:white">After the admitting papers are
                                                    signed, admission kit and a patient ID bracelet will be given to
                                                    you. For your safety, do not remove the patient ID bracelet. Our
                                                    nurse will unfasten the bracelet during discharge.</p>

                                            <h2>Visiting Hours and Guidelines</h2>

                                            <ul>
                                                <li><i class="fa fa-check-square"></i> Our visiting hours are from
                                                    6:00AM to 9:00PM.</li>
                                                <li><i class="fa fa-check-square"></i> We only permit two (2) companion
                                                    to stay with you overnight. </li>
                                                <li><i class="fa fa-check-square"></i> Only four (4) visitors per
                                                    patient are allowed to visit at a time, to meet the healthcare needs
                                                    of the patients or to protect the patient’s privacy needs</li>
                                                <li><i class="fa fa-check-square"></i>For children’s safety and
                                                    security, we do not recommend children seven (7) years old and below
                                                    to visit relatives and friends confined in the hospital.</li>
                                            </ul>

                                            <h2>Parking Area Guidelines</h2>
                                            <ul>
                                                <li><i class="fa fa-check-square"></i> For patient relative and visitor
                                                    who will bring their vehicle, parking guard on duty will give you
                                                    parking ticket upon entry. This ticket will be validated by the
                                                    nurse station before leaving the vicinity and will be submitted to
                                                    guard on duty at the exit point of the parking area.</li>
                                                <li><i class="fa fa-check-square"></i> The management is not responsible
                                                    for any damage to and loss of the vehicle or its accessories.</li>
                                                <li><i class="fa fa-check-square"></i> For lost ticket, the parker will
                                                    be required to present the Original Certificate of Registration and
                                                    Current Official receipt of their motor vehicle certificate.</li>
                                                <li><i class="fa fa-check-square"></i> The parker shall be held liable
                                                    for any damage they may cause to the persons or any other property
                                                    inside the parking area.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
    </section>
    <!-- end main-content -->