<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Recognized by Well-Known Medical Institutions
                        </h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">Patients and Visitors</a></li>
                            <li class="active text-theme-colored">HMO Accreditation</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">

            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">



                            <div class="tab-content bg-white">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="products">
                                            <h2>HMO Accreditation</h2>
                                            <p class="lead">Quality Healthcare is vital in every medical institution.
                                                Here at St.
                                                Frances
                                                Cabrini Medical Center, we strive to give our patients the best and the
                                                highest quality of medical care. Our doctors, staff and other
                                                practitioners ensure a world-class standard of service to give you the
                                                right treatment you deserve.
                                            </p>


                                            <div class="row multi-row-clearfix">





                                                <div class="col-sm-4 col-md-2 col-lg-2 mb-30">

                                                    <div class="product">
                                                        <div class="product-thumb">
                                                            <a href="" target="_blank">
                                                                <img alt="" src="" class="img-responsive img-fullwidth">
                                                                <div class="overlay">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="product-details text-center">
                                                        <a href="">
                                                            <h5 class="product-title"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>





                                        </div>
                                    </div>









                                </div>
                            </div>

                            <div>



                            </div>
                        </div>
                    </div>
    </section>
    <!-- end main-content -->