<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Reminders for the Release of Your Records
                        </h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">Patients and Visitors</a></li>
                            <li class="active text-theme-colored">Medical Records</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">

            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">



                            <div class="tab-content bg-white">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="service-content ml-10 ml-sm-0">

                                            <h2>Medical Records Guidelines</h2>

                                            <p>Medical Records Section provides a medical history of the patient’s
                                                treatment in the hospital. It also functions as the custodian of
                                                documents or evidence of confinement such as care or treatments
                                                received, test results and diagnoses usually vital to private and
                                                insurance companies. </p>

                                            <h4>Documents may be claimed at Medical Records section:</h4>

                                            <ul>
                                                <li><i class="fa fa-check-square"></i> Birth Certificate</li>
                                                <li><i class="fa fa-check-square"></i> Certificate of Confinement (if
                                                    patient is still admitted)</li>
                                                <li><i class="fa fa-check-square"></i> Clinical Abstract/Discharge
                                                    Summary</li>
                                                <li><i class="fa fa-check-square"></i> Death Certificate</li>
                                                <li><i class="fa fa-check-square"></i> Laboratory Result (CTC)</li>
                                                <li><i class="fa fa-check-square"></i> Medical Certificate (if the
                                                    patient is discharged)</li>
                                                <li><i class="fa fa-check-square"></i> Medico-legal Certificate</li>
                                            </ul>

                                            <br>

                                            <h4>Requirements when securing Medical Records document:</h4>

                                            <ul>
                                                <li><i class="fa fa-check-square"></i> Authorization letter of the
                                                    patient (when sending a representative)</li>
                                                <li><i class="fa fa-check-square"></i> Valid ID of the patient</li>
                                                <li><i class="fa fa-check-square"></i> Valid ID of the representative
                                                </li>
                                            </ul>
                                            <br>

                                            <h4>Procedure</h4>

                                            <ol>
                                                <li><i class="fa fa-check-square"></i> Fill out the Information for
                                                    Medical Records (IMR) form.</li>
                                                <li><i class="fa fa-check-square"></i> Submit the filled-out Information
                                                    for Medical Records (IMR) form to the Medical Records Section
                                                    together with other needed requirements for processing.</li>
                                            </ol>

                                            <br>
                                            <p>Note: You may request via phone, fax or e-mail. However, you still have
                                                to secure all the requirements needed before the prepared records from
                                                Medical Records Section are released.</p>


                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
    </section>
    <!-- end main-content -->