<!-- Start main-content -->
<div class="main-content ">
    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay " data-bg-img="images/bg/bg8.webp">
        <div class="container pt-60 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 class=" text-white">Must-Read for Every Patient</h1>
                        <ol class="breadcrumb text-center mt-10">
                            <li><a href="index.php" class="text-white">Home</a></li>
                            <li><a href="#" class="text-white">Patients and Visitors</a></li>
                            <li class="active text-theme-colored">Patients Rights and Responsibilities</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Section: Departments -->
    <section id="depertments" class="bg-silver-light">
        <div class="container">

            <div class="section-centent">
                <div class="row">
                    <div class="col-md-12">
                        <div class="horizontal-tab-centered">



                            <div class="tab-content bg-white">
                                <div class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="service-content ml-10 ml-sm-0">
                                                <br>

                                                <h2>Patients Rights and Responsibilities</h2>
                                                <p>As a patient of St. Cabrini, you have the following rights,
                                                    consistent with law:</p>
                                                <p class="lead">Bilang pasyente ng St. Cabrini, ikaw ay may karapatan,
                                                    naayon sa batas na:</p>

                                                <br>
                                                <h4>1. To be informed of (Makaalam)</h4>

                                                <ul>
                                                    <li> a. Your rights as a patient in a manner and language that you
                                                        understand</li>
                                                    <li class="lead"> Ang iyong mga karapatan bilang pasyente sa wika na
                                                        iyong naiintindihan</li>


                                                    <li>b. The names and departments of the doctors and staff who will
                                                        be involved in your care in the hospital</li>
                                                    <li class="lead"> Ang mga pangalan at departamento ng mga
                                                        manggagamot at kawani na makakalinga sa’yo habang ikaw ay nasa
                                                        ospital</li>


                                                    <li>c. The nature of your illness, its likely causes, manifestations
                                                        and course </li>
                                                    <li class="lead"> Ang uri, sanhi at kahihinatnan ng iyong karamdaman
                                                    </li>


                                                    <li> d. The treatment proposed to you, its benefits, side effects,
                                                        potential risks and costs</li>
                                                    <li class="lead"> Ang lahat ng mga pamamaraang gagamitin sa paglunas
                                                        ng karamdaman mo, ang mga benepisyo, posibleng komplikasyon at
                                                        kaukulang kabayaran nito</li>

                                                    <li>e. Other treatment options relevant to your condition, including
                                                        the option to withhold treatments, and the consequences of
                                                        taking such options</li>
                                                    <li class="lead">Ang iba pang mga alternatibong pamamaraan ng
                                                        paglunas sa karamdaman mo, kasama ang hindi pagpapagamot at ang
                                                        magiging resulta nito</li>

                                                </ul>


                                                <br>
                                                <h4>2. To receive medical care that is (Makatanggap ng pangangalagang
                                                    medikal na)</h4>

                                                <ul>
                                                    <li> a. Free from discrimination as to the ethnic origin, religion,
                                                        gender, disability, sexual orientation and socioeconomic status
                                                    </li>
                                                    <li class="lead"> Walang pinipiling lahi, relihiyon, kasarian,
                                                        kapansanan, oryentasyong sekswal o antas ng pamumuhay sa lipunan
                                                    </li>


                                                    <li>
                                                        b. Delivered with respect, consideration and in a clean and safe
                                                        environment free of unnecessary restraint</li>
                                                    <li class="lead">May paggalang, pag-unawa at ibinibigay sa isang
                                                        malinis, malaya at ligtas na kapaligiran</li>



                                                    <li> c. Appropriate to your medical condition and consistent with
                                                        the terms of your informed consent, your decisions, preferences
                                                        and values</li>
                                                    <li class="lead"> Naaayon sa iyong pangangailangan pangkalusugan at
                                                        kaalinsabay ng iyong pahintulot, desisyon at pagpapahalaga</li>


                                                    <li>d. Given in a timely manner whenever you need it</li>
                                                    <li class="lead"> Maagap sa iyong pangangailangan</li>

                                                </ul>








                                                <br>
                                                <h4>3. To be advised of, participate in, or refuse to take part in any
                                                    medical research; receive full information on the purposes and
                                                    procedures of the research; and, be assured that your refusal will
                                                    not compromise your care
                                                </h4>
                                                <p class="lead"> Mapagpayuhan, makibahagi at tumangging makibahagi sa
                                                    pananaliksik at mabigyan ng kasiguraduhan na ang iyong pagtanggi ay
                                                    di makakaapekto sa iyong kalusugan
                                                </p>





                                                <h4>4. To privacy while in the hospital and confidentiality of all
                                                    information and records regarding your care</h4>
                                                <p class="lead">Mapangalagaan ang iyong privacy at confidentiality ng
                                                    mga impormasyon at talaan tungkol sa iyong kalusugan</p>

                                                <h4>5. To participate in all decisions about your treatment and
                                                    discharge from the hospital</h4>
                                                <p class="lead">Makibahagi sa lahat ng mga desisyon tungkol sa iyong
                                                    pagpapagamot at paglabas ng ospital</p>

                                                <h4>6. To complain without fear of reprisals about the care and services
                                                    you are receiving and to have the hospital respond to you</h4>
                                                <p class="lead">Walang takot na mailahad ang mga reklamo ukol sa iyong
                                                    tinatanggap na pangangalaga at serbisyo at mabigyan ng karampatang
                                                    tugon ng ospital</p>

                                                <h4>7. To authorize those family members and other adults who will be
                                                    given priority to visit consistent with your ability to receive
                                                    visitors and pertinent hospital policies</h4>
                                                <p class="lead">Mapahintulutan ang kapamilya at iba pang tao na bumisita
                                                    sa iyo nang ayon sa iyong kakayahang tumanggap ng bisita at sa
                                                    patakaran ng ospital</p>

                                                <ul>

                                                    <h4> At the same time, as a patient of St. Frances Cabrini Medical
                                                        Center, you have the
                                                        following responsibilities:</h4>
                                                    <p class="lead"> At gayundin naman, bilang isang pasyente ng St.
                                                        Frances Cabrini Medical Center, ikaw ay may mga tungkulin na:
                                                    </p>


                                                    <li> 1. To provide complete and truthful information about your
                                                        health, including past illnesses, hospital stays, surgeries,
                                                        allergies and use of medicines/other forms of treatment</li>
                                                    <li class="lead"> Magbigay ng buo at totoong impormasyon hinggil sa
                                                        iyong kalusugan, kasama na ang mga dati at kasalukuyang
                                                        ginagamit na gamot, mga pamamalagi sa ospital at iba pang uri ng
                                                        panggagamot, mga operasyon at mga allergies</li>


                                                    <li>2. To know the members of your health care team</li>
                                                    <li class="lead">Kilalanin ang mga doktor, nars at iba pang kawani
                                                        ng ospital na nangangalaga sa iyong kalusugan</li>


                                                    <li> 3. To be involved in the decisions regarding your health care
                                                    </li>
                                                    <li class="lead">Makibahagi sa pagpapasya ukol sa iyong kalusugan
                                                    </li>

                                                    <li>
                                                        4. To ask questions regarding the nature of your illness and its
                                                        management including options, likely outcomes, benefits, risks
                                                        and costs</li>
                                                    <li class="lead"> Magtanong ukol sa tunay na kalagayan ng iyong
                                                        karamdaman mga posibleng lunas, komplikasyon, benepisyo at
                                                        kabayaran
                                                    </li>
                                                    <li>
                                                        5. To ask questions whenever you are not sure of the information
                                                        or instructions given to you.</li>
                                                    <li class="lead">Magtanong kailanmang hindi malinaw sa iyo ang mga
                                                        impormasyon o mga dapat gawing itinuro sa iyo.</li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
    </section>
    <!-- end main-content -->