<div class="fab-container">
    <div class="fab fab-icon-holder">
        <i class="fas fa-plus"></i>
    </div>

    <ul class="fab-options">
        <a class="nav-link" href="patients/add">
            <li>

                <span class="fab-label">Patient</span>
                <div class="fab-icon-holder">
                    <i class="fas fa-user-plus"></i>
                </div>

            </li>
        </a>
        <a class="nav-link" href="/categories">
            <li>

                <span class="fab-label">Categories</span>
                <div class="fab-icon-holder">

                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                </div>

            </li>
        </a>
        <a class="nav-link" href="/hospitals">
            <li>

                <span class="fab-label">Hospitals</span>
                <div class="fab-icon-holder">

                    <i class="fa fa-hospital-o" aria-hidden="true"></i>
                </div>

            </li>
        </a>
    </ul>
</div>